body {
  background-color: rgb(248, 248, 195);
  font-family: cursive;
}
.nav-container {
  display: grid;
  grid-gap: 15rem;

  grid-template-areas: "navbar paragraph services ";
  background-color: rgb(226, 208, 102);
  margin-left: 0px;
  margin-right: 0px;
  place-items: center;
}
.container {
  display: grid;
  grid-gap: 5px;

  grid-template-areas:
    "navbar paragraph search "
    "box1 box2 box3"
    "box4 box5 box6"
    "footer footer footer ";

  margin-left: 40px;
  margin-right: 50px;
  place-items: center;
}
.box {
  background-color: rgb(248, 248, 195);
  /* border: 2px solid rgb(226, 208, 102); */
  border-radius: 10px;
  text-align: center;
  padding: 30px;
}

.navbar {
  grid-area: navbar;
text-decoration: underline;
  padding: px;
  /* background-color: rgb(248, 248, 195); */
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 1px;
}
.navbar ul li {
  font-size: larger;
  margin-right: 10px;
}
li a {
  text-decoration: none;
  text-decoration: underline;
  color: black;
  display: block;
  justify-content: center;
}
.paragraph {
  /* padding: 50% 0%; */
  font-size: 10px;

}
.services{
  grid-area: services;
}
.para {
  /* white-space: pre-wrap; */
  text-align: left;
}
.footer {
  grid-area: footer;
}

.box1 {
  grid-area: box1;
  /* background-color:  rgb(233, 233, 128);; */
}
.line-one {
  border: 1px solid rgb(189, 173, 67);
}
.button {
  background-color: rgb(222, 219, 44);
  border-color: aliceblue;
  border-radius: 15px;
  text-shadow: 5;
  color: aliceblue;
  padding: 8px;
  cursor: pointer;
  width: 50%;
  display: inline-block;
}
.box2 {
  grid-area: box2;
  /* background-color:  rgb(233, 233, 128); */
}
.box2 li {
  list-style: none;
}
.box2 img {
  width: 200px;
  height: auto;
  object-fit: cover;
  object-position: center 20%;
}
.box3 {
  grid-area: box3;
  /* background-color:  rgb(233, 233, 128); */
}
.img-list li {
  float: left;
  list-style: none;
  margin: auto;
  padding: 5%;
}
.img-list img {
  width: 30px;
  height: auto;
}
.skill-list li {
  list-style: none;
}
.contact strong {
  font-size: larger;
}
.contact img {
  width: 20px;
  height: auto;
}
.box4 {
  grid-area: box4;
}
.box5 {
  grid-area: box5;
}
.box6 {
  grid-area: box6;
}
.hire-form{
  margin: 100px;
}